.App {
  text-align: center;
}

.app__form {
  position: fixed;
  bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  z-index: 1;
  background-color: #e9e9eb;
  padding: 10px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
